
@if (customer != null)
{
    <EditForm Model="customer" class="form-line" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Имя</label>
            <InputText id="name" @bind-Value="customer.CustomerName" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="address">Адрес</label>
            <InputText id="address" @bind-Value="customer.CustomerAddress" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="city">Город</label>
            <InputText id="city" @bind-Value="customer.CustomerCity" class="form-control" ></InputText>
        </div>
        <div class="form-group">
            <label for="province">Область</label>
            <InputText id="province" @bind-Value="customer.CustomerStateProvince" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="country">Страна</label>
            <InputText id="country" @bind-Value="customer.CustomerCountry" class="form-control"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Заказать</button>
    </EditForm>
}


@code {

    private CustomerViewModel customer;

    private KladrClient kladrClient = new KladrClient("some_token", "some_key");

    [Parameter]
    public EventCallback<CustomerViewModel> OnCustomerInfoSubmitted { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        customer = new CustomerViewModel();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private void GetCity()
    {
        if(customer.CustomerCity != "")
        {
            kladrClient.FindAddress(new Dictionary<string, string>
            {
                {"query", customer.CustomerCity},
                {"contentType", "city"},
                {"withParent", "1"},
                {"limit", "2"}
            }, fetchedAddress);
        }        
    }

    public void fetchedAddress(KladrResponse response)
    {
        if(response!=null)
        {
            if (response.result != null && response.InfoMessage.Equals("OK"))
                customer.CustomerCity = response.result.Length.ToString();
        }
    }

    private void HandleValidSubmit()
    {
        OnCustomerInfoSubmitted.InvokeAsync(customer);
    }

}
