@page "/addbrand" 
@attribute [Authorize(Policy ="AdminOnly")]

@inject NavigationManager NavigationManager
@inject IAddBrandUseCase AddBrandUseCase 

<h3>Добавить издательство</h3>
<br />
@if (brand != null)
{
    <EditForm Model="brand" OnValidSubmit="OnValidSumit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Наименование</label>
            <InputText id="name" @bind-Value="brand.Name" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <InputText id="description" @bind-Value="brand.Description" class="form-control"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Отменить</button>
    </EditForm>

}


@code {

    private Brand brand;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        brand = new Brand();
    }

    private void OnValidSumit()
    {
        AddBrandUseCase.Execute(brand);
        NavigationManager.NavigateTo("/brands");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/brands");
    }

}
