@page "/categories"
@*@attribute [Authorize(Policy = "AdminOnly")]*@

@inject NavigationManager NavigationManager
@inject IViewCategoriesUseCase ViewCategoryUseCase
@inject IDeleteCategoryUseCase DeleteCategoryUseCase

<h3>Управление категориями</h3>
<br />
@if (categories != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <button type="button" @onclick="@(() => EditCategory(category))" class="btn btn-link">Редактировать</button>
                      <button type="button" @onclick="@(() => DeleteCategory(category.CategoryId))" class="btn btn-link">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddCategory" class="btn btn-primary">Добавить категорию</button>



@code {

    private List<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCategories();
    }

    private void OnClickAddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }

    private void EditCategory(Category category)
    {
        NavigationManager.NavigateTo($"/editcategory/{category.CategoryId}");
    }

    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryUseCase.Delete(categoryId);
        LoadCategories();
    }

    private void LoadCategories()
    {
        categories = ViewCategoryUseCase.Execute()?.ToList();
    }
}
